body{
    background-color: #ddd;
    margin : 0;
    padding: 0;
}

article{
    width: 400px;
    margin:100px auto;
    padding-bottom: 50px;

    background-color: #fff;
    text-align: center;
}

article > h2{
    font-size: 42px;
    padding: 60px 0;
}

article > p{
    margin:0;
}

article > p > img{
    width: 100%;
}

article > div > a > span{
    /* display: inline-block; 블록요소를 가로로 정렬 (2개이상 아이템있을때)
        display: block; 블록요소를 세로로 정렬  */
    display: block;
    padding-top: 42px;
    /* vertical-align: top(top,middle,bottom); inline-block 일때만 쓸수있음 */
}