@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Playfair+Display:wght@728&display=swap');


html,body{margin: 0; font-size: 20px;}
h1,h2,h3,h3,h4,h5,h6,p,figure{margin:0;}
a{text-decoration: none; color: inherit;}
img{vertical-align: middle;}
*{box-sizing: border-box; font-size: 1rem;}   /* 1rem은 20px에 100% */



/* font style */
.f-nanum1{
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'Playfair Display', serif;
}
.f-nanum2{
    font-family: 'Nanum Gothic', sans-serif;
    /* font-family: 'Playfair Display', serif; */
}
/* .color-b{color:black;} */

/* header */
header{padding:40px;}
header > div{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    align-items: center;
}
header > div > h1{}
header > div > h1 > a{font-size: 1.5rem;}
header > div > nav{}
header > div > nav > a{
    position: relative;
    font-size: 0.8rem;
    font-weight: 500;
    padding:0 20px; 
}

header > div > nav > a::after{
    /* 필수속성 content */
    content: '';
    border-bottom: 3px solid #000;
    /* display: none; */
    position: absolute;
    left:50%; bottom: -4px;
    width: 0%;
    transition: 0.5s;
}
header > div > nav > a:hover::after{
    width: 100%;
    left:0; 
} 