
/* pos-relative */
.pos-relative{
    width: 80%; margin: 100px auto;
    background-color: #eee;
    padding : 60px;
    text-align: center;
}
.pos-relative > h2{}
.pos-relative >p {font-size: 25px;}
.pos-relative > div {
    border: 5px solid #f00;
    padding: 100px;
    width: 400px;
    margin: 0 auto;
    position: relative;
    left: 100px; top: 100px;
}
.pos-relative > img {}


/* pos-absolute */
.pos-absolute{
    width: 80%; margin: 100px auto;
    background-color: #eee;
    padding : 60px;
    text-align: center;
    position: relative;
}
.pos-absolute > h2{}
.pos-absolute >p {font-size: 25px;}
.pos-absolute > div {
    border: 5px solid #f00;
    background-color: #ffffff4a;
    padding: 100px;
    width: 400px;
    margin: 0 auto;
    position: absolute;
    left: 34.5%;
    top: 16%;
    /* left: 100px; top: 100px; */
}
.pos-absolute > img {}


/* pos-fixed */
.pos-fixed{
    width: 80%;
    margin:100px auto;
    padding : 60px;
    background-color: #eee;
    position: relative;
}
.pos-fixed h2{}
.pos-fixed p{white-space: pre-line;}
.pos-fixed .header{
    width: 100%;
    padding : 30px 0;
    background-color: #d85479;
    position: fixed;
    top:0; left:0;
    text-align: center;
    font-weight: 600;
}
.pos-fixed .aside{
    width: 100px;
    position: fixed;
    right:0; bottom: 0;
    height: 100px;
    z-index: 9999999999999999999999999999999999;
    background-color: #41bd77;
}


/* sticky */
.pos-sticky{
    width: 80%; margin:100px auto;
    padding : 60px;
    background-color: #eee;
    height: 800px;
    position: sticky;
    z-index: 9999999999999999999999;
}

.pos-sticky h2{}
.pos-sticky div{
    position: sticky;
    top:0;
    white-space: pre-line;
} 
